#hero {
    background-image: url("../img/hero/hero.jpg");
    height: 931px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background: #F2EBE1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    // #hero-body {
    // }
}