// #hero {
//     #hero-image{
//         background-image: url("../img/hero/hero.jpg");
//         height: 930px;
//         // width: 100%;
//         background-size: cover;
//         background-position: center;
//     }

//     #hero-body {
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         section{
//             text-align: center;
//         }
//     }
// }

#hero {
    background-image: url("../img/hero/hero.jpg");
    height: 930px;
    width: 100%;
    border-radius: 70px;
    background-size: cover;
    background-position: center;
    margin-top: -112px;
    display: flex;
    align-items: center;
    justify-content: center;

    #hero-body{
        color: $white;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        // font-size: 36px;
        font-size: rem-calc(18px);
        
        section{
            margin: 0px 678px;
        }

        h1{
            text-align: center;
            margin: 28px 0px;
        }
    }
}