/* =============
    Header
============= */
header {
    position: fixed;
    // border: 1px red solid;
    width: 100%;
    background-color: red;
    // border-radius: 75px;
    // >div{
    //     display: grid;
    //     grid
    // }
}